.trophy {
    display: flex;
}

.trophy-logo-image {
    width: 50px;
}

.trophy-logo {
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
}

.trophy-content {
    flex-shrink: 0;
    width: 75%;
    margin-left: 1rem;
    font-size: 11pt;
}

.trophy-name {
    color: white;
}

.awards-trophy-empty {
    width: 20rem;
}

.awards-trophy-name {
    width: 25.5rem;
}

.awards-trophy-description {
    width: 26.5rem;
}

.awards-trophy-target-count {
    flex-shrink: 0;
    width: 2.5rem;
    text-align: right;
}

.awards-trophy-xp {
    width: 3rem;
    flex-shrink: 0;
    text-align: right;
}

.awards-trophy-category {
    width: 5rem;
    flex-shrink: 0;
    text-align: right;
}


.award-terminated {
    color: white;
    background: #8b932d;
    padding: 0.2rem;
    font-weight: bold;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
}

.award-progress {
    color: white;
    background: #dd9013;
    padding: 0.2rem;
    font-weight: bold;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    text-align: center;
}

.award-unlock-date {
    width: 9rem;
    color: white;
    background: #dd9013;
    padding: 0.2rem;
    font-weight: bold;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    text-align: center;
}